<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{block "title" .}}Amazon Purchases{{end}}</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
        />
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <style>
            a[target="_blank"]::after {
                content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
                margin: 0 3px 0 5px;
            }
            a[target="_blank"] {
                margin-right: 10px;
            }
        </style>
    </head>
    <body class="content">
        <section class="section">
            <div class="container is-fluid">
                <div class="tabs is-fullwidth">
                    <ul>
                        <li><a href="/">Amazon Purchases</a></li>
                        <li><a href="/ynab">YNAB matcher</a></li>
                        <li><a href="/discover">Discover importer</a></li>
                    </ul>
                </div>
                {{block "content" .}}TODO{{end}}
            </div>
        </section>
        <script type="text/javascript">
            document
                .querySelector(`.tabs a[href="${window.location.pathname}"]`)
                .parentElement.classList.add("is-active");
        </script>
    </body>
</html>
