<div class="grid">
    <div class="cell">
        <form>
            <div class="field">
                <label class="label">Search</label>
                <div class="control">
                    <input
                        type="text"
                        name="q"
                        class="input is-rounded"
                        hx-get="/purchases"
                        hx-trigger="keyup changed delay:500ms"
                        hx-target="#search-results"
                        placeholder="Search..."
                        autofocus
                    />
                </div>
                <p class="help">search for amounts or names of items</p>
            </div>
        </form>
    </div>
    <div class="cell">[TODO: YNAB BUDGET PICKER]</div>
</div>
<div id="search-results">{{ if . }}{{ template "results.html" . }}{{end}}</div>
