<form>
    <div class="field">
        <label class="label">Search</label>
        <div class="control">
            <input
                type="text"
                name="q"
                class="input is-rounded"
                hx-get="/purchases"
                hx-trigger="keyup changed delay:500ms"
                hx-target="#search-results"
                placeholder="Search..."
                autofocus
            />
        </div>
        <p class="help">search for amounts or names of items</p>
    </div>
</form>
<div>
    <ol>
        <li>
            Drag this bookmarklet to your toolbar:
            <a
                href="javascript:(function(){var jsCode =
            document.createElement('script');jsCode.setAttribute('src',
            'http://localhost:8080/export.js');document.body.appendChild(jsCode);}());"
                >scrape orders</a
            >
            - this will:
            <ol>
                <li>
                    open a new window for each order, read some info, close them
                </li>
                <li>upload that data here</li>
                <li>
                    display a quick status of each order:

                    <dl>
                        <dt>👶</dt>
                        <dd>new order inserted</dd>
                        <dt>👷</dt>
                        <dd>existing order updated</dd>
                        <dt>🧟</dt>
                        <dd>error</dd>
                    </dl>
                </li>
                <li>go to the next page of the order history</li>
            </ol>
        </li>
        <li>
            Open your
            <a
                href="https://www.amazon.com/gp/css/order-history"
                target="_blank"
                >Amazon Order History</a
            >
        </li>
        <li>
            keep running the bookmarklet until you've imported all orders, or
            when you see all 👷 in the status popup.
        </li>
    </ol>
</div>

<div id="search-results">{{ if .Q }}{{ template "results.html" . }}{{end}}</div>
