<table class="table is-striped is-fullwidth">
    <thead>
        <th>Order</th>
        <th>Items</th>
        <th>Charge</th>
        <th>Price</th>
    </thead>
    <tbody>
        {{ range . }}         
        <tr>
            <td>
                <a href="{{ .Href }}" target="_blank">
                    {{ .ID }}
                </a>
            </td>
            <td>
                <ul>
                    {{ range .Items}}
                        <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </td>
            <td>
                {{ if ne .Charge.Card "" }}
                <span class="is-size-7">
                    {{ .Charge.Date }}<br>
                    {{ .Charge.Card }}<br>
                    {{ .Charge.Amount | printf "$%.2f"}}
                </span>
                {{ end }}
            </td>
            <td>{{ .Price | printf "$%.2f" }}</td>
        </tr>
        {{ else }}
        <tr><td colspan="4">No results</td></tr>
        {{ end }}
    </tbody>
</table>
