<table class="table is-striped is-fullwidth">
    <thead>
        <th>Order</th>
        <th>Items</th>
        <th>Charge</th>
        <th>Price</th>
    </thead>
    <tbody>
        {{ range . }}
        <tr>
            <td>
                <a href="{{ .Href }}" target="_blank"> {{ .ID }} </a>
            </td>
            <td>
                {{ template "item-list.html" .Items}}
            </td>
            <td>
                {{ if ne .Charge.Card "" }}
                <span class="is-size-7">
                    {{ .Charge.Date }}<br />
                    {{ .Charge.Card }}<br />
                    {{ template "amount.html" .Charge.Amount }}
                </span>
                {{ end }}
            </td>
            <td>{{ template "amount.html" .Price }}</td>
        </tr>
        {{ else }}
        <tr>
            <td colspan="4">No results</td>
        </tr>
        {{ end }}
    </tbody>
</table>
