{{ $categories := .Categories}}
<div class="columns">
    <div class="column">
        <h2>{{ len .Transactions }} Unapproved Transactions</h2>
    </div>
    <div class="column">
        <form>
            <div class="select">
                <select name="budgetID" onchange="this.form.submit()">
                    {{ range .Budgets }}
                    <option
                        value="{{.ID}}"
                        {{
                        if
                        eq
                        .ID
                        $.BudgetID
                        }}selected="selected"
                        {{
                        end
                        }}
                    >
                        {{.Name}} ({{ template "date.html" .LastModified }})
                    </option>
                    {{ end }}
                </select>
            </div>
        </form>
    </div>
</div>

<form method="post">
    <input type="hidden" name="budgetID" value="{{ .BudgetID }}" />
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Date</th>
                <th>Payee</th>
                <th>Amount</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Transactions }}
            <input type="hidden" name="transactionID" value="{{.ID}}" />
            <tr title="{{.ID}}">
                <td>{{ template "date.html" .Date }}</td>
                <td>{{ .Payee }}</td>
                <td>{{ template "amount.html" .Amount }}</td>
                <td>
                    <div class="select">
                        <select name="categoryID">
                            <option value="-1">-- ignore --</option>
                            {{ range $key, $value := $categories }}
                            <optgroup label="{{ $key }}">
                                {{ range $value }}
                                <option value="{{ .ID }}">{{ .Name }}</option>
                                {{ end }}
                            </optgroup>
                            {{ end }}
                        </select>
                    </div>
                </td>
            </tr>
            {{ range .Orders }}
            <tr class="has-text-weight-light">
                <td></td>
                <td>
                    <a href="{{ .Href }}" target="_blank"> {{ .ID }}</a>
                    {{ template "item-list.html" .Items}}
                </td>
                <td>{{ template "amount.html" .Price }}</td>
                <td>
                    {{ .Charge.Date }}<br />
                    {{ .Charge.Card }}<br />
                    {{ template "amount.html" .Charge.Amount }}
                </td>
            </tr>
            {{ end }} {{ else }}
            <tr>
                <td colspan="4">No unapproved transactions!</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    <div class="field">
        <div class="control">
            <button class="button is-primary is-fullwidth" type="submit">
                Save
            </button>
        </div>
    </div>
</form>
